.panel-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  padding: bsize(3) 0;


  &.hidden {
    transform: translateX(-20rem);

    .collapse-button {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-button {

    z-index: 99;
    position: absolute;
    right: -2.6rem;
    top: 0;
    cursor: pointer;

    svg {
      transition: transform .3s;
    }

    .btn {
      padding: bsize(2) bsize(3);
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: $white;
    }
  }

  .logged-as-company {
    font-size: $font-size-14;
    color: rgba(#FFFFFF, 50);
    font-weight: 300;
    margin: bsize(3) 0 bsize(3) bsize(4);

    .company-name {
      color: darken($orange, 5);
      font-weight: bold;
    }
  }

  .logo {
    width: 100%;
    margin-bottom: bsize(4);
    padding-left: bsize(4);
    padding-right: bsize(4);
  }

  nav {
    padding-left: bsize(4);
    padding-right: bsize(2);
    display: flex;
    flex-direction: column;

    .nav-item {
      width: 100%;
      color: $white;
      padding: bsize(2) 0;
      background: none;
      border: none;
      text-align: left;

      &.active {
        text-transform: uppercase;
      }


      svg {
        margin-right: bsize(2);
      }
    }
  }

}

.panel-strap-header {
  z-index: 99;
  background: $primary;
  position: fixed;
  top: 0;
  left: 35rem;
  width: calc(100% - 35rem);
  display: flex;
  align-items: center;
  padding: bsize(3) bsize(4);
  border-bottom-left-radius: $border-radius * 2;

  .menu-button {
    padding: bsize(2);
    color: $white;
    margin-left: bsize(3);
    transition: opacity .3s;

    &:hover {
      opacity: .6;
    }
  }

  .home-link {
    margin-right: bsize(4);
    color: $white;

    svg {
      margin-right: bsize(2);
    }
  }

  .icon-strap {
    padding-bottom: .25rem;
  }
}

.panel-content {
  z-index: 1;
  overflow-y: auto;
  width: calc(100% - 20rem);
  height: 100%;
  padding: 7rem bsize(4) bsize(5);

  &.has-list {
    position: fixed;
    left: 20rem;
  }

  &:not(.has-list) {
    transform: translateX(20rem);
  }


  &.header-hidden {
    width: 100%;

    &.has-list {
      left: 0;
    }

    &:not(.has-list) {
      transform: translateX(0);
    }
  }
}

@include media-breakpoint-down(lg) {
  .panel-strap-header {
    .home-link {
      font-size: $font-size-14;
    }

    .icon-strap {
      padding-left: bsize(2);
    }
  }
}

@include media-breakpoint-up(lg) {
  .panel-content {
    transition-duration: .3s;

    &.has-list {
      transition-property: left, width, transform, opacity;
      will-change: width, left;
    }

    &:not(.has-list) {
      transition-property: transform, width, opacity;
      will-change: width;
    }
  }
  .panel-header {
    transition: transform .3s;
    will-change: transform;
  }
}

@include media-breakpoint-only(lg) {
  .panel-strap-header {
    left: 25rem;
    width: calc(100% - 25rem);
  }
}

@include media-breakpoint-down(md) {
  .collapse-button {
    width: 3rem;
  }

  .panel-strap-header {
    position: static;
    width: 100%;
    border-bottom-right-radius: $border-radius * 3;
    border-bottom-left-radius: $border-radius * 3;
    display: flex;
    justify-content: space-around;
    transition: transform .35s;

    .icon-strap {
      opacity: 1;
      transition: opacity .2s ease-out;
    }

    &.hidden {
      transform: translateY(-200vw);
    }
  }

  .panel-header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transition: transform .35s;


    &.hidden {
      transform: translateX(0) translateY(-200vw);

      .collapse-button {
        transform: translateY(200vw);

        svg {
          transform: rotate(270deg);
        }
      }

    }

    .collapse-button {
      transition: transform .35s;
      margin-left: 0;
      top: .5rem;
      left: .5rem;
      position: absolute;

      .btn {
        border-radius: $border-radius;
      }

      svg {
        transform: rotate(90deg);
      }
    }

    .logged-as-company {
      text-align: center;
      margin-top: 0;
    }

    header {
      display: flex;
      justify-content: center;
    }

    nav {
      margin-left: 12%;
      padding-left: 0;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .nav-item {
        width: 33.333%;
        display: flex;
      }
    }
  }


  .panel-content {
    position: static;
    padding: bsize(3) bsize(4);
    width: 100%;
    left: 0;

    &.has-list {
      left: 0;
    }

    &:not(.has-list) {
      transform: translateX(0);
    }
  }

  .header-hidden {
    position: fixed;
    top: 0;
    padding-top: 3.5rem;
    width: 100%;
    height: 100%;
  }
}

@include media-breakpoint-down(sm) {

  .panel-header {
    nav {

      .nav-item {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-only(xs) {
  .panel-header {

    .logo {
      display: block;
      margin-left: 2rem;
      margin-right: 2rem;
      width: calc(100% - 4rem);
    }

    nav {
      margin-left: 2rem;

      .nav-item {
        padding: .2rem 0;
        width: 100%;
      }
    }
  }
  .panel-strap-header {
    flex-wrap: wrap;

    .home-link {
      width: 100%;
      margin-right: 0;
      text-align: center;
      margin-bottom: bsize(2);
    }

    .icon-strap {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
    }
  }
}


@media (max-width: 380px) {
  .panel-header {
    &.hidden {
      max-height: calc(25vw + 1rem);
    }
  }
}
