.angle-list {
  margin-top: bsize(3);
  list-style-type: none;
  padding-left: bsize(3);

  li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
  }

  li::before {
    position: absolute;
    top: -1px;
    left: 0;
    content: "";
    width: 8px;
    height: 100%;
    background-color: white;
    mask: url("~@fortawesome/fontawesome-pro/svgs/solid/angle-right.svg") left no-repeat;
  }

  li a {
    font-weight: 300;
  }

  transition: all .3s;
}


:root {
  --menu-max-height: 300px;
}

.angle-slide-right-enter {
  transform: translateX(50vh);
}

.angle-slide-left-enter {
  transform: translateX(-50vh);
}

.angle-slide-right-enter,
.angle-slide-left-enter {
  opacity: 0;
  max-height: 0;
}

.angle-slide-left-enter-active,
.angle-slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  max-height: var(--menu-max-height);
}


.angle-slide-right-exit,
.angle-slide-left-exit {
  opacity: 1;
  transform: scale(1);
  max-height: var(--menu-max-height);
}

.angle-slide-right-exit-active,
.angle-slide-left-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  max-height: 0;
}