.front-forms {
  .blue-title {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: $primary;
    display: block;
    width: 100%;
    top: -3rem;
    height: 10px;
    font-weight: 500;
    font-size: $font-size-18;

    svg {
      transform: scale(1.3);
      margin-right: bsize(2);
    }
  }

  .category-buttons {
    margin-bottom: bsize(4 exhe);

    .btn-wide-icon {
      background: $white;
      padding: bsize(3) bsize(1) 0;
      color: $gray-900;
      box-shadow: $box-shadow-sm;


      .text {
        padding-top: bsize(1);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 67px;
        text-transform: none;
      }
    }

    .btn-wide-icon.active {
      background: $primary;
      color: $white;
      border-color: $primary;
    }
  }

  .form-group {
    margin-bottom: bsize(4);
  }

  @include media-breakpoint-only(xl) {
    .category-buttons {
      > div:nth-child(n+7) .btn-wide-icon {
        margin-top: bsize(4);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .background-square-primary:not(.second) {
      left: -245px;
      bottom: 570px;
      transform: rotate(-20deg);
      width: 300px;
      height: 500px;
    }

    .background-square-primary.second {
      right: -95px;
      top: -141px;
      transform: rotate(-30deg);
      width: 400px;
      height: 400px;
    }
  }

  @include media-breakpoint-between(md, lg) {
    .category-buttons {
      > div:nth-child(n+5) .btn-wide-icon {
        margin-top: bsize(4);
      }
    }
  }

  @include media-breakpoint-only(sm) {
    .category-buttons {
      > div:nth-child(n+4) .btn-wide-icon {
        margin-top: bsize(4);
      }
    }
  }

  @include media-breakpoint-only(xs) {
    .blue-title {
      position: static;
      height: auto;
    }

    .category-buttons {
      .btn-wide-icon {
        margin-top: bsize(4);
      }
    }
  }

  @include media-breakpoint-only(md) {
    .background-square-primary:not(.second) {
      left: -245px;
      bottom: 570px;
      transform: rotate(-20deg);
      width: 300px;
      height: 500px;
    }

    .background-square-primary.second {
      right: -225px;
      top: -141px;
      transform: rotate(-30deg);
      width: 400px;
      height: 400px;
    }
  }
}