.meet-on-facebook {
  position: relative;

  h5 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: $gray-100;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .photo {

    a {
      display: block;
      width: 100%;
      height: 100%;

      transition: transform .3s;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 15px 1px rgba($primary, .7);
        opacity: 0;
        transition: opacity .3s;
      }

      &:hover {
        transform: scale(.95);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}


@include media-breakpoint-only(xl) {
  .meet-on-facebook {
    padding-top: 3.6rem;

    h5 {
      font-size: 4rem;
    }

    .photos {
      height: 300px;
    }
  }
}

@include media-breakpoint-only(lg) {
  .meet-on-facebook {
    padding-top: 2.8rem;

    h5 {
      font-size: 3rem;
    }

    .photos {
      height: 250px;
    }
  }
}


@include media-breakpoint-only(md) {
  .meet-on-facebook {
    padding-top: 2.4rem;

    h5 {
      font-size: 2.5rem;
    }

    .photos {
      height: 450px;
    }
  }
}

@include media-breakpoint-only(sm) {
  .meet-on-facebook {
    padding-top: 1.8rem;

    h5 {
      font-size: 2rem;
    }

    .photos {
      height: 450px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .meet-on-facebook {
    padding-top: 6vw;

    h5 {
      font-size: 6vw;
    }

    .photos {
      height: 1000px;
    }
  }
}
