$padding: .25rem;

.icon-strap {
  padding: .25rem 0 .5rem 2.5rem;
  border-bottom-left-radius: $border-radius;
  display: flex;

  .accessibility {
    margin-right: 1rem;

    svg:nth-child(2) {
      position: relative;
      top: 2px;
      transform: scale(.6);
    }

    svg:nth-child(3) {
      top: 1px;
      right: 1px;
      position: relative;
      transform: scale(.8);
    }
  }

  svg {
    cursor: pointer;
    color: white;
    @include opacity-hover;
  }
}


